.add-body{
    width:163%;
    padding-top: 40px;
    background: linear-gradient(#0c0e1d,#2b2c28);
    background-size: cover;
    height: 120vh; 
    
}
.add-recipe-heading{
    color:white
}
.input-container{
    display: flex;
    flex-direction: column;
    gap:20px
}
.recipe-input{
    display: flex;
    flex-direction: column;
    gap:20px
}
#add-submit-btn{
    margin-left: -400px;
}
#imageid{
    margin-left: 500px;
}
