
    .sidenav{
        width: 300px;;
        background: #011627;
        position:absolute;
        height:120vh;
        padding: 0 30px;
            
    }
    ul{
        padding: 0;        
    }
    ul .userlist{
        list-style: none;
        color: white;
        margin: 40px 0;                
    }
    ul .userlist .link{
        color: white;
        display: block;
        padding: 10px 15px;       
        border-radius: 60px;
        text-decoration: none;
    }
    ul .userlist:hover,
    ul .userlist .link .active{
        background: #172b4d;
        text-decoration: none;
        color:white;
        border-radius: 6px;
    }
    .adminhometitle{
        color:white;
        margin-top: 40px;
        margin-left: 20px;
    }
    .menuicon{
        color:black;
        margin-top: 50px;
        font-size: 35px;
        
    }
    .icons{
        font-size: 25px;
        margin-top: -5px;
    }
    .adminlogout{
        margin-top: 50px;
        text-align: center;      
    } 
    .adminhomebody{
        width:50%;
        margin-left: 250px;
    }  
    .input-container{
        width:70%;
        margin-left: 200px;
        margin-top: 50px;
        line-height: 50px;
        
    } 
    .add-recipe-heading{
        margin-left: 420px;
        
    }
    .recipe-submit-button{
        margin-left: 500px;
        margin-top: 20px;
    }
    .admin-no-user{
        width:20%;
        border-radius: 50%;
        margin-top: 20px;
        margin-left: 10px;
    }
    .admin-name{
        color: white;
        margin-left: 63px;
        margin-top: -45px;
    }
    .admin-email{
        color:grey;
        font-size: 15px;
        margin-left: 63px;
    }


