
.admin-input{
    background: none !important;
    background-size: cover;
    height: 120vh;    
}
.admin-body{
    width:80%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap:15px;
    margin-left: 10px; 
 }
 .admin-title{
    padding-top: 100px;
 }
 .adminloginbtn{
    margin-left: 100px;
 }

