.all-recipe-table{
    /* border: 1px solid black; */
    height:60vh;
    overflow-y: scroll;
    margin-left: 130px;
    width:80%;
    margin-top: 30px;
}
.allrecipe-head{
    margin-left: 450px;
    padding-top: 30px;
    color: white;
}
.allrecipe-body{
    background: linear-gradient(#0c0e1d,#2b2c28);
    background-size: cover;
    height: 120vh;
    width:163% 
}

