.ingredients{
    width:60%;
    margin-right: 10px;
    margin-top: 30px;
    display: flex;
    
}
.input-ingredients{
    margin-left: 50px;
    width:60%;
    margin-top: 50px;
}
.home-body{
    /* background: url(spices.jpg); */
    background: linear-gradient(#0c0e1d,#2b2c28);
    background-size: cover;   
    background-repeat: no-repeat;
    height: 500vh;
}
.ruler{
    color:#0c0e1d,#2b2c28;
    /* color: white; */
   
}
.homelabel{
    margin-top: 30px;
}
/* .homehint{
    color: white;
} */
.dropdown{
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
}
.dropdown-row{
    cursor: pointer;
    text-align: start;
    margin: 2px 0;
}
.resultbox{
    width:80%;
    border: 2px solid black;
    margin-left: 20px;
    margin-top: 60px;
    border-radius: 5px;
    height: 40vh;
    overflow-y: scroll;
    overflow-x: scroll;
}
.result-para{
    padding: 5px;
    margin-left: 10px;
    line-height: 50px;
    text-align: justify;
    color: white;
}
.result-heading{
    padding:30px;
    text-align: center;
    color:white
}
.catergory{
    border: 1px solid black;
    width:15%;
    height: 20vh;
}
.veg{
     margin: 5px;
     /* border: 1px solid black; */
    display:inline-block;       
}
.nonveg{
    margin: 5px;
    /* border: 1px solid black; */
   display:inline-block;      
}

.cardbody{
    margin: 10px;
    height: 70vh;
    overflow-x: hidden;
    border: 1px solid white;
   
}
.cardbody:hover{
    -webkit-box-shadow:0px 0px 7px 7px rgba(244,247,247,0.6);
    -moz-box-shadow: 0px 0px 7px 7px rgba(244,247,247,0.6);
    box-shadow: 0px 0px 7px 7px rgba(244,247,247,0.6);
}