/* .navbar-container{
    display: flex;
    justify-content: space-around;
    
}

.me-auto{
    margin-left: 700px;

}
.register{
    margin-right: 5px;
    text-decoration: none;

}
.home-link{
    text-decoration: none;
    color:black
    
}
.register-link{
    text-decoration: none;
    color:black;
    margin-left: 50px;
}
.menubar{
    width:100%
}
#basic-nav-dropdown{
    margin-left: 50px;
}
.dropdown-item{
    text-decoration: none;
} */
/* .navbar-container{
    background-color:black;
    height: 80px;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    color: white;
    
}
.navbar-container ul{
    list-style: none;
    display: flex;
}
.navbar-container ul li {
    padding: 10px 30px;
    position: relative;    
}

.link-menu{
    text-decoration: none;
    color:black;
    transition: all 0.3s;
    color: white;
}
  .dropdown{
   width:10%;
   background-color:grey;
   margin-left: 1167px;
   height:20vh;
   border-radius: 5px;
}
.dropdown ul{
    display: block;
    margin: 10px;
}
.dropdown ul li{
    width:150px;
    padding: 10px;
    list-style: none;
    margin-left: 20px;
    margin-top: 10px;
}
.dropdown-menu{
    text-decoration: none;
}
.dropdown-link{
    text-decoration: none;
    color: white;   
} */
.nav-item{
    margin-left: 250px;
    margin-top: 15px;
    text-decoration: none;
    color:white;

}
.nav-item:hover{
    color:grey
}
.dropdown-toggle{
    margin-top: -8px;
    color:white;
    /* margin-left: 290px; */
}
.dropdown-toggle:hover{
    color: grey;
}
.navbar-toggler{
    margin-left: 400px;
    /* margin-bottom: 60px; */
    color: white;
    border: none;
    /* margin-top: -50px; */
}

.navbar{
    /* background-color:#011824; */
    background-color:#565264;
    
    color: white;
}
/* #home-menu{
    padding-left: 500px;
    text-decoration: none;
    color: white;
}
#home-menu:hover{
    color: grey;
}
#reg-menu{
    margin-left: 390px;
    text-decoration: none;
    color: white;
}
#reg-menu:hover{
    color: grey;
} */
.item{
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    margin-left: 600px;
    gap:20px
}