 #custom-navbar {
    background-color: #565264;
    padding: 15px 30px;
    position: sticky;
    top:0;
    margin-top: -10px;
    width: 100%;
    z-index: 1;
    color: white !important;
}
#navbar-box{
    position: fixed;
    height:20px
}
.nav-link dropdown-toggle{
    margin-top: 20px;
}

.custom-navbar .navbar-brand {
    color: #fff;
    font-weight: bold;
}

.custom-navbar .navbar-nav .nav-link {
    color: #fff;
    margin-right: 15px; 
}

.custom-navbar .navbar-nav .nav-link:hover {
    color: #ccc; }

.custom-navbar .dropdown-menu {
    background-color: #565264;
}

.custom-navbar .dropdown-item {
    color: #fff;
}

.custom-navbar .dropdown-item:hover {
    background-color: #454553; 
} 
