.saved-recipelist-table{
    height: 70vh;
    margin-left: 50px;
    width:80%;
    margin-top: 30px;   
}
.saved-recipe-head{
    margin-left: 70px;
    padding-top: 30px;
    color: white;

}
.saved-body{
    background: linear-gradient(#0c0e1d,#2b2c28);
    background-size: cover;
    height: 300vh; 
    width:157%;
    color: black;
    margin-left: 40px;
}
#instructions{
   width:20%
}
#recipe-box{
    display: flex;
    flex-direction: column;
    
}
.recipe-content{
    border:1px solid white;
    margin-top: 10px;
    width:60%;
    border-radius: 20px;
    margin-right: 20px;
    color:white;
    padding: 5px;
    margin-left: 180px;

}