.signup-input{
    background: linear-gradient(#0c0e1d,#2b2c28);
    background-size: cover;
    height: 120vh;
    margin-top: -70px;
    
}
.signup-body{
   width:80%;
   margin-top: 10px;
   display: flex;
   flex-direction: column;
   gap:15px;
   margin-left: 10px;

}
.signup-box{
   border: 1px solid white;
   width:55%;
   border-radius: 20px;
   -webkit-box-shadow:0px 0px 14px 4px rgba(215,221,224,0.58);
   -moz-box-shadow: 0px 0px 14px 4px rgba(215,221,224,0.58);
   box-shadow: 0px 0px 14px 4px rgba(215,221,224,0.58);    
}
.signupbtn{
    margin-left: 70px;
}
.para{
    color: white;
}
label{
    color:white;
    margin-right: 40px;
    width:22%
}
.form-control{
    /* border-radius: 20px; */
    margin-top: 10px;

}
#gender{
    display: flex;
    gap:5px
}
#gender-text{
    color:white;
    margin-top: 5px;
}
#signup-form{
    margin-top: 5px;
}