
.todo-body {
    background: linear-gradient(#0c0e1d, #2b2c28);
    background-size: cover;
    color: white;
    padding: 20px;
    min-height: 100vh;
}
.recipe-input{
    margin-left: 200px
}
.input-container-todo{
    display: flex;
    flex-direction: column;
    gap:20px;
    width:80%;
    }

 
  .selectsaved-box {
    text-align: center; 
    margin-top: 20px; 
  }
  
  #savedrec-submit-btn {
    margin: 20px auto; 
    display: block;
  }
  
  #todotable {
    margin: 20px auto; 
    margin-left: 100px;
  }
  #category{
    color: black;
  }
  @media (max-width: 768px) {
    .todo-body {
      padding: 20px; 
    }
  
    .recipe-list-head {
      font-size: 24px; 
    }
    .input-container-todo{
        display: flex;
        flex-direction: column;
        gap:20px;
        width:100%;
        margin-left: -200px;
    }
    #savedrec-submit-btn,
    #todotable {
      margin: 10px auto;
    }
  }
  
  