@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


    .sidenav{
        width: 300px;;
        background: #011627;
        position:fixed;
        left:0;
        height:120vh;
        padding: 0 30px;
            
    }
    ul{
        padding: 0;
        
    }
    ul .userfeaturelist{
        list-style: none;
        color: white;
        margin: 40px 0;
        
        
    }
    ul .userfeaturelist .link{
        color: white;
        display: block;
        padding: 10px 15px;
        border-radius: 60px;
        text-decoration: none;
    }
    ul .userfeaturelist:hover,
    ul .userfeaturelist .link .active{
        background: #172b4d;
        text-decoration: none;
        color:white;
        border-radius: 6px;
    }
    .userhometitle{
        color:white;
        margin-top: 40px;
        margin-left: 20px;
    }
    .menuicon{
        color:black;
        margin-top: 50px;
        font-size: 35px;
        
    }
    .icons{
        font-size: 25px;
        margin-top: -5px;

    }
    .userlogout{
        margin-top: 200px;
        text-align: center;
      
    } 
    .userhomebody{
        width:50%;
        margin-left: 250px;
        position: relative;
    }  
    .user-no-user{
        width:20%;
        border-radius: 50%;
        margin-top: 20px;
        margin-left: 10px;
    }
    .user-name{
        color: white;
        margin-left: 63px;
        margin-top: -45px;
    }
    .user-email{
        color:grey;
        font-size: 15px;
        margin-left: 63px;
    }
    
    #home-link{
        margin-left: 950px;
        /* margin-top: 10px; */
        border-radius: 20px;
        background-color: #01192e;
        color:white;
        width:100px;
        height:40px;
        font-family: "Poppins", sans-serif;
        position: absolute;
        top:0;
        border-style: none;
        /* left:50px */
    }
    #home-link:hover{
       background-color: grey;
       color:black;
       border-style: none;
    }
    .home-icon{
        margin-top: -4px;
    }
    

