.login-input{
    /* background: linear-gradient(#0c0e1d,#2b2c28); */
    background-size: cover;
    height: 120vh;    
}
.login-body{
    width:80%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap:15px;
    margin-left: 10px; 
 }
 .login-box{
    border: 1px solid white;
    width:55%;
    border-radius: 20px;
    -webkit-box-shadow:0px 0px 14px 4px rgba(215,221,224,0.58);
    -moz-box-shadow: 0px 0px 14px 4px rgba(215,221,224,0.58);
    box-shadow: 0px 0px 14px 4px rgba(215,221,224,0.58);    
 }
 .user-para{
    color:black
 }
 /* #user-bg{
   background-image: url('../../public/assets/img/bg/loginbg.jpg');
   size: cover;
   height: 100vh;
   margin-top: 0;
 } */
